<!DOCTYPE html>
<html>
<head>
    <title>People</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/scripts/components/ng-text-editor/ng-text-editor.css">
    <script src="/scripts/angular.js"></script>
    <script src="/scripts/components/ng-text-editor/ng-text-editor.js">
    </script>
    <script src="/assessmentapp.js"></script>

</head>
  <body ng-app="assessmentApp">
    <div class="container"
      ng-controller="PersonController">
      <div class="alert alert-success" ng-show="person && alert">
        {{ alert.message }}
        <span ng-show="alert.timeStamp">
          on {{ alert.timeStamp | date: 'dd/MM/yyyy \'at\' HH:mm:ss a' }}
        </span>
      </div>

      <form>
        <h1>Example: ng-text-editor</h1>
        <br />

        <div class="form-group">
          <label>Email address</label>
          <ng-text-editor ng-model="person.email" placeholder="Enter Email">
          </ng-text-editor>
        </div>

        <div class="form-group">
          <label>Contact no</label>
          <ng-text-editor ng-model="person.contactNo" placeholder="Enter contact no.">
          </ng-text-editor>
        </div>

        <div class="form-group">
          <label>
            Full name
            <em>
              (Note: Full name will be changed immediately after clicking save button)
            </em>
          </label>
          <ng-text-editor ng-model="person.fullName" placeholder="Enter full name" ng-change="save()"></ng-text-editor>
        </div>

      </form>

    </div>
  </body>
</html>
